<!-- <div mat-dialog-content>
  <p>Edit task</p>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput  [(ngModel)]="editData.name"> 
  </mat-form-field>  <br>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput  [(ngModel)]="editData.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary"  (click)="onSave()" [disabled]="false">Save</button>
  <button mat-button (click)="onCancel('CANCEL')" cdkFocusInitial>Cancel</button>
</div> -->


<div id="createForm"> 
  <form [formGroup]="createTaskForm">
      <mat-card>
          <mat-card-title> <p>Edit Task</p> </mat-card-title>
          <mat-card-content >
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="outline" >
                  <mat-label> Task Name </mat-label>
                  <input matInput formControlName="name" name="name" type="text">
                  <mat-icon matSuffix color="grey">portrait</mat-icon>
              </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label> Description </mat-label>
                  <input matInput formControlName="description" name="description" type="text">
                  <mat-icon color="grey" matSuffix>description</mat-icon>
              </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Due Date</mat-label>
                  <input matInput [matDatepicker]="datepicker" [readonly]="true" formControlName="dueDate" name="dueDate">
                  <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                      <button mat-button matDatepickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" matDatepickerApply>Ok</button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                </mat-form-field>
              </div>
            </div>

          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button color="primary" (click)="onSubmit(createTaskForm)" [disabled]="createTaskForm.invalid">Save</button>&nbsp;
              <button mat-button (click)="onCancel('CANCEL')" cdkFocusInitial>Cancel</button>
          </mat-card-actions>
      </mat-card>
  </form>
</div>